.car {
  position: relative;
}
.car-open:checked + .car-item {
  position: static;
  opacity: 1;
}
.car-item {
  width: 100%;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
.car-item img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}
.prev {
  background-image: url('../img/Left-Arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  width: 20px !important;
  height: 30px !important;
}
.next {
  background-image: url('../img/Right-Arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  width: 20px !important;
  height: 30px !important;
}
.car-control {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 50px;
  z-index: 10;
}

.car-control.prev {
  left: 1%;
}

.car-control.next {
  right: 1%;
}

.car-control:hover {
  opacity: 0.8;
}

#car-1:checked ~ .control-1,
#car-2:checked ~ .control-2,
#car-3:checked ~ .control-3 {
  display: block;
}

.car-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.car-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.car-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 25px;
}

.car-bullet:hover {
  color: #aaaaaa;
}

#car-1:checked ~ .control-1 ~ .car-indicators li:nth-child(1) .car-bullet,
#car-2:checked ~ .control-2 ~ .car-indicators li:nth-child(2) .car-bullet,
#car-3:checked ~ .control-3 ~ .car-indicators li:nth-child(3) .car-bullet {
  color: #ff4438;
}

.container-titulo {
  position: absolute;
  bottom: 50px;
  z-index: 100;
  color: white;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.card {
  height: 100% !important;
}

@media (max-width: 426px) {
  .car {
    height: 100%;
  }
   .i1 {
    content:url('../img/slide1-mobil.png');
    height:80%;
  }
  .i2 {
    content:url('../img/slide2-mobil.png');
    height: 80%;    
  }
  .i3 {
    content:url('../img/slide4-mobil.jpg');
    height: 80%;   
  } 
  .container-titulo {
    bottom: 170px !important;   
  }
  .car-indicators {
    bottom: 20% !important;
}
}